/* ==========================================================================
   Buttons
   ========================================================================== */

.c-button {
	display: inline-block;
	padding: 8px 12px;

	transition: all var(--transition-duration) var(--transition-easing);
	background: transparent;
	border: 1px solid var(--colour-alpha);
	border-radius: 30px;

	cursor: pointer;

	@include font-smoothing;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none !important;
	text-align: center;
	color: var(--colour-alpha) !important;

	@media (var(--mq-md-min)) {
		min-height: 46px;
		padding: 10px 18px;

		border-radius: 60px;

		font-size: 16px;
		line-height: 22px;
	}

	&:focus,
	&:hover {
		background: var(--colour-alpha);
		border-color: var(--colour-alpha);
		color: var(--wp--preset--color--white) !important;
	}

	&:active {
		background: var(--colour-bravo);
		border-color: var(--colour-bravo);
		color: var(--wp--preset--color--white) !important;
	}

	& + .c-button {
		margin-left: 6px;
	}

	&--bravo {
		border-color: var(--colour-bravo);
		color: var(--colour-bravo) !important;

		&:focus,
		&:hover {
			background-color: var(--colour-bravo);
			border-color: var(--colour-bravo);
			color: var(--wp--preset--color--white) !important;
		}

		&:active {
			background: var(--colour-alpha);
			border-color: var(--colour-alpha);
			color: var(--wp--preset--color--white) !important;
		}
	}

}
