/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
    position: relative;
    width: 100%;
    padding: var(--spacing-md);
    background-color: var(--colour-white);
}

.c-header__wrap {
    display: flex;
}

/*
   Logo
   ========================================================================== */

.c-header__brand {
    display: block;
    position: relative;
    width: 188px;
    height: 54px;
    overflow: hidden;
    /*background: inline("../../assets/svg/brand-elements/logo.svg") no-repeat 0/contain;*/
    text-indent: -9em;

    @media ($mq-sm-min) and ($mq-md-max) {
        width: 30.58%;
        padding-bottom: calc(28.7vw * 80 / 281);
    }

    @media ($mq-lg-min) {
        width: 281px;
        height: 80px;
    }
}
