/* ==========================================================================
   Hero
   ========================================================================== */

.c-hero {
	position: relative;

	@include break($mq-xs-max) {
		height: calc(100vh - 137px); /* height of the navbar */
	}

	@include break-between(var(--screen-sm-min), var(--screen-lg-max)) {
		height: 400px;
	}

	@include break-between(var(--screen-xl-min), var(--screen-xl-max)) {
		height: 510px;
	}

	@include break($mq-xxl-min) {
		height: 660px;
	}
}

/*
   Image
   ========================================================================== */

.c-hero__image {

	@include object-fit-parent(100%, 100%);
	@include overlay-flat(5);
	z-index: 0;

	/*background: var(--wp--custom--colour--alpha) url("../../assets/svg/preload.svg") no-repeat center; */

	img {

		@include object-fit-image;
	}
}

/*
   Content
   ========================================================================== */

.c-hero__content {

	@include center-both;
	z-index: 10;
}

/*
   Title
   ========================================================================== */

.c-hero__title {
	color: var(--wp--preset--color--white);
	font-size: responsive 20px 52px;
}

.c-hero__subtitle {
	color: var(--wp--custom--colour--alpha);
	font-size: responsive 18px 26px;
}
