/* ==========================================================================
   Hero
   ========================================================================== */

.c-hero {
	position: relative;

	@media (var(--mq-xs-max)) {
		height: calc(100vh - 137px); /* height of the navbar */
	}

	@media (var(--mq-sm-min)) and (var(--mq-lg-max)) {
		height: 400px;
	}

	@media (var(--mq-xl-min)) and (var(--mq-xl-max)) {
		height: 510px;
	}

	@media (var(--mq-xxl-min)) {
		height: 660px;
	}
}

/*
   Image
   ========================================================================== */

.c-hero__image {
	@include object-fit-parent(100%, 100%);
	@include overlay-flat(5);
	z-index: 0;
	/*background: var(--colour-alpha) url("../../assets/svg/preload.svg") no-repeat center; */

	img {
		@include object-fit-image;
	}
}

/*
   Content
   ========================================================================== */

.c-hero__content {
	z-index: 10;
}

/*
   Title
   ========================================================================== */

.c-hero__title {
	color: var(--wp--preset--color--white);
	font-size: responsive 20px 52px;
}

.c-hero__subtitle {
	color: var(--colour-alpha);
	font-size: responsive 18px 26px;
}
