/* ==========================================================================
   Mixins
   ========================================================================== */

/*
   Clearfix
   ========================================================================== */

@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


/*
   Pretty underlines 😍
   ========================================================================== */

/* Read more at: https://eager.io/blog/smarter-link-underlines */

/* stylelint-disable */
@mixin pretty-underline {
    background:
        linear-gradient($colour-white, $colour-white) 0 1.08em/.05em 1px no-repeat,
        linear-gradient($colour-white, $colour-white) 0 1.08em/.05em 1px no-repeat,
        linear-gradient(currentColor, currentColor) 0 1.08em/1px 1px repeat-x;
    text-shadow:
        .03em 0 $colour-white, -.03em 0 $colour-white,
        .06em 0 $colour-white, -.06em 0 $colour-white,
        .09em 0 $colour-white, -.09em 0 $colour-white,
        .12em 0 $colour-white, -.12em 0 $colour-white,
        .15em 0 $colour-white, -.15em 0 $colour-white;
    &:hover {
        background: transparent;
    }
}
/* stylelint-enable */

/*
   Image overlay
   ========================================================================== */

@mixin overlay-flat( $z-index) {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: $z-index;
    }
}


/*
   Flex
   ========================================================================== */

@mixin flex-base( $direction, $wrap) {
    display: flex;
    flex-flow: $direction $wrap;
}
@mixin flex-justify( $justify) {
    display: flex;
    justify-content: $justify;
}
@mixin flex-align( $align) {
    display: flex;
    align-items: $align;
}
@mixin flex-parent( $direction, $wrap, $size, $direction-responsive, $wrap-responsive) {
    flex-flow: $direction $wrap;
    //@media ($mq-$(size)-max) {
        flex-flow: $direction-responsive $wrap-responsive;
    //}
}
@mixin flex-child( $size) {
    flex: 1;
    //@media ($mq-$(size)-max) {
        width: 100%;
    //}
}

/*
   Centre layout responsive
   ========================================================================== */

@mixin max-width( $size, $width, $align) {
    //@media ($mq-$(size)-max) {
        max-width: $grid-width-#{$width};
        margin-left: auto;
        margin-right: auto;
        p, h1, h2, h3, h4, h5, h6 {
            text-align: $align;
        }
    //}
}

/*
   Object fit polyfill
   ========================================================================== */

@mixin object-fit( $attr) {
    object-fit: $attr;
    font-family: "object-fit: #{$attr}";
}

/*
   Object fit parent
   ========================================================================== */

@mixin object-fit-parent($height, $width) {
    height: $height;
    width: $width;
    position: relative;
}

/*
   Object fit image
   ========================================================================== */

@mixin object-fit-image {
    @include object-fit( cover);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/*
   FOUT fix
   ========================================================================== */

@mixin fout-fix {
    .wf-loading & {
        visibility: hidden;
    }
}

/*
   Hide content
   ========================================================================== */

@mixin hide-content {
    position: absolute !important;
    height: 1px; width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/*
   Font smoothing
   ========================================================================== */

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
    No list style
   ========================================================================== */

@mixin list-style-none {
    list-style: none;
    padding-left: 0;
}

/*
   Center both
   ========================================================================== */

@mixin center-both {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*
   Consistent spacing
   ========================================================================== */

/**
 *
 * This mixin adds padding to an element using consistent base values to try
 * and normalize the spacing as the padding reduces towards mobile.
 *
 * Mind blown...
 */

@mixin padding( $side, $modifier) {
    @media ($mq-xs-max) {
        padding-#{$side}: round(($margin-sm-base) * $modifier);
    }
    @media ($mq-sm-min) and ($mq-xl-max) {
        padding-#{$side}: round($margin-md-base * $modifier);
    }
    @media ($mq-xxl-min) {
        padding-#{$side}: round($margin-lg-base * $modifier);
    }
}

@mixin margin( $side, $modifier) {
    @media ($mq-xs-max) {
        margin-#{$side}: round(($margin-sm-base) * $modifier);
    }
    @media ($mq-sm-min) and ($mq-xl-max) {
        margin-#{$side}: round($margin-md-base * $modifier);
    }
    @media ($mq-xxl-min) {
        margin-#{$side}: round($margin-lg-base * $modifier);
    }
}

@mixin mobile-gutter {
    @media (max-width: 360px) {
        padding-left: $grid-padding-sm;
        padding-right: $grid-padding-sm;
    }
    @media (min-width: 361px) {
        padding-left: $grid-padding;
        padding-right: $grid-padding;
    }
}
