/* ==========================================================================
   Body
   ========================================================================== */

body {
    @include font-smoothing;
    font-family: $font-body;
    font-size: responsive $font-size-min $font-size-max;
    line-height: 1.5;
    font-weight: $font-regular;
    color: $colour-grey;
}
