/* ==========================================================================
   colours
   ========================================================================== */

/*
 * colour naming convention
 *
 * colour-grey-x-light
 * colour-grey-light
 * colour-grey-mid-light
 * colour-grey
 * colour-grey-mid-dark
 * colour-grey-dark
 * colour-grey-x-dark
 */

$colour-white:              #fff;
$colour-grey-x-light:       #f7f6f7;
$colour-grey-light:         #e5e3e5;
$colour-grey-mid-light:     #aeadae;
$colour-grey:               #7d787a;
$colour-grey-mid-dark:      #706c6e;
$colour-grey-dark:          #414044;
$colour-black:              #2a363b;

$colour-alpha-light:        #638ccc;
$colour-alpha:              #31588a;
$colour-alpha-dark:         #3a4750;

$colour-bravo:              #22c7a9;
$colour-bravo-dark:         #2db6a3;

$colour-charlie:            #aedbe0;

$colour-delta:              #cf4647;

$colour-bravo-50:           color($colour-bravo a(50%));
$colour-bravo-70:           color($colour-bravo a(70%));
$colour-bravo-80:           color($colour-bravo a(80%));

$colour-success-bg:         #2db6a3;
$colour-success-text:       $colour-white;
$colour-error-bg:           #d20000;
$colour-error-bg-text:      $colour-white;

$colour-social-facebook:    #32579d;
$colour-social-twitter:     #55acee;
$colour-social-pinterest:   #d20000;

:root {
   --colour-white-base:          #fff;
   --colour-black-base:          #000;
   
   --colour-grey-dark:           #444444;
   --colour-grey-mid-dark:       #616161;
   --colour-grey:                #7d7d7d;
   --colour-grey-mid-light:      #b0b0b0;
   --colour-grey-light:          #e5e5e5;

   --colour-alpha-dark:          #335b5e;
   --colour-alpha:               #148791;
   --colour-alpha-light:         #7bdbe3;

   --colour-bravo-dark:          #5e3c50;
   --colour-bravo:               #de4ba0;
   --colour-bravo-light:         #e392c1;

   --colour-charlie-dark:        #ab9718;
   --colour-charlie:             #dec51f;
   --colour-charlie-light:       #e3d264;
}