### System & hidden

.user.ini
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
build

# ignore log files and databases
*~
*.log
*.sql
*.swp
*.swo
*.stTheme.cache
*.tmlanguage.cache
*.tmPreferences.cache

# ignore packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# ignore Editor files
.idea
.nova
.vscode
*.code-workspace
*.sublime-*
*.komodoproject
nbproject/*

### Dependencies (composer, npm & bower)

.sass-cache/
/vendor/
node_modules/
package-lock.json

### WordPress

/web/.htaccess
/web/wordpress
/web/wp-config.php

/web/wp-content/debug.log
/web/wp-content/languages/
/web/wp-content/plugins/*
!/web/wp-content/plugins/.gitkeep
/web/wp-content/uploads/*
!/web/wp-content/uploads/.gitkeep

### Caches & Plugins

!/web/wordfence-waf.php
/web/wp-content/advanced-cache.php
/web/wp-content/db.php
/web/wp-content/object-cache.php
/web/wp-content/aam/
/web/wp-content/acf-cache/
/web/wp-content/cache/
/web/wp-content/wflogs/
/web/wp-content/wp-rocket-config/
/web/wp-content/w3tc-config/

### Compiled

/web/wp-content/themes/**/assets/svg/sprites
/web/wp-content/themes/**/styles/dist
/web/wp-content/themes/**/js/dist
/web/version.php
