/* ==========================================================================
   Backgrounds
   ========================================================================== */

.o-background {
	padding-top: var(--grid-padding);
	padding-bottom: var(--grid-padding);
}

.o-background--alpha {
	background-color: var(--colour-alpha);
}

.o-background--bravo {
	background-color: var(--colour-bravo);
}

.o-background--charlie {
	background-color: var(--colour-charlie);
}
