/* ==========================================================================
   Block
   ========================================================================== */

.o-block {
    margin-top: var(--gutter-sm);
    margin-bottom: var(--gutter-sm);

    &.o-background {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: var(--gutter-sm);
        padding-bottom: var(--gutter-sm);
    }

    @media ($mq-sm-min) {
        margin-top: var(--gutter-md);
        margin-bottom: var(--gutter-md);

        &.o-background {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: var(--gutter-md);
            padding-bottom: var(--gutter-md);
        }
    }

    @media ($mq-md-min) {
        margin-top: var(--gutter-lg);
        margin-bottom: var(--gutter-lg);

        &.o-background {
            margin-top: 0;
            margin-bottom: 0;
            padding-top: var(--gutter-lg);
            padding-bottom: var(--gutter-lg);
        }
    }
}
