/* ==========================================================================
   Text styling
   ========================================================================== */

.o-text-sm {
    font-size: var(--font-size-sm);
}

.o-text-lg {
    font-size: var(--font-size-lg);
}

.o-text-centre {
    text-align: center;
}

.o-text-alpha {
    color: var(--colour-alpha);
}

.o-text-bravo {
    color: var(--colour-bravo);
}

.o-text-charlie {
    color: var(--colour-charlie);
}

.o-text-delta {
    color: var(--colour-delta);
}

.o-text-echo {
    color: var(--colour-echo);
}
