/* ==========================================================================
   Backgrounds
   ========================================================================== */

.o-background {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);

    &--grey-light {
        background-color: var(--colour-grey--light);
    }

    &--alpha {
        background-color: var(--colour-alpha);
    }

    &--bravo {
        background-color: var(--colour-bravo);
    }

    &--charlie {
        background-color: var(--colour-charlie);
    }
}
