/* ==========================================================================
   Links
   ========================================================================== */

a {
	color: var(--wp--custom--colour--alpha);
	transition: color 0.2s ease-out;
	text-decoration: none;

	&:hover {
		color: var(--wp--custom--colour--alpha);
	}
}
