// sass-lint:disable-all

/* ==========================================================================
   Object fit
   ========================================================================== */

.c-object-fit--polyfill {
    background-size: cover !important;
    background-position: center center !important;
    img {
        display: none !important;
    }
}

// sass-lint:enable-all
