/* ==========================================================================
   Generic Text Styling
   ========================================================================== */

/*
  Basic Text
  ========================================================================== */

.o-text-centre {
	text-align: center;
}

.o-text-bravo {
	color: var(--wp--custom--colour--bravo);
}

.o-screen-reader {
	display: none;
}


/*
  Backgrounds
  ========================================================================== */

.o-background {
	padding-top: var(--grid-padding);
	padding-bottom: var(--grid-padding);
}

.o-background--alpha {
	background-color: var(--wp--custom--colour--alpha);
}

.o-background--bravo {
	background-color: var(--wp--custom--colour--bravo);
}

.o-background--charlie {
	background-color: var(--wp--custom--colour--charlie);
}


/*
  Page container
  ========================================================================== */

.mce-content-body,
.o-content-editor {

	a {
		text-decoration: underline;
		color: var(--wp--custom--colour--bravo);

		&:focus,
		&:hover {
			color: var(--wp--custom--colour--alpha);
		}
	}

	ul {
		margin: 20px 0;
		padding: 0;

		li {
			position: relative;
			padding-left: 20px;

			&::before {
				content: "\2022";

				position: absolute;
				left: 5px;

				color: var(--wp--custom--colour--bravo);
			}
		}
	}
}


/*
  OEmedded videos
  ========================================================================== */

.o-post-embed {
	position: relative;

	&--video {
		padding-bottom: 56.25%;

		iframe,
		object,
		embed {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
