/* ==========================================================================
   Page
   ========================================================================== */

/*
  Page container
  ========================================================================== */

.o-page-container {
	position: relative;
	right: 0;
	overflow: hidden;
	transition: right var(--transition-duration) var(--transition-easing);

	&.o-page-container--nav-open {
		right: var(--mobile-nav-width);
	}
}

/*
   Page
   ========================================================================== */

.o-page {
	display: flex;
	justify-content: space-between;

	@include break($mq-sm-max) {
		flex-flow: column wrap;
		flex-basis: auto;
	}
}

/*
   Main
   ========================================================================== */

.o-page__main {
	width: 65%;
}

/*
   Content
   ========================================================================== */

.o-page__content {
	flex-grow: 1;
}

/*
   Media
   ========================================================================== */

.o-page__media {

	@include break($mq-md-min) {
		width: 66.6%;
	}

	@include break($mq-xxl-min) {
		width: 50%;
	}
}

/*
   Sidebar
   ========================================================================== */

.o-page__sidebar {
	width: 35%;

	@include break($mq-sm-max) {
		width: 100%;
		order: 2;
	}

	@include break-between(var(--screen-lg-min), var(--screen-xl-max)) {
		width: 30%;
	}
}
