/* ==========================================================================
   Colours
   ========================================================================== */

/*
 * colour naming convention
 *
 * colour-grey-x-light
 * colour-grey-light
 * colour-grey-mid-light
 * colour-grey
 * colour-grey-mid-dark
 * colour-grey-dark
 * colour-grey-x-dark
 */

:root {
    --colour-black:            #000;
    --colour-white:            #fff;

    --colour-grey--dark:       #444;
    --colour-grey--mid-dark:   #616161;
    --colour-grey:             #7d7d7d;
    --colour-grey--mid-light:  #b0b0b0;
    --colour-grey--light:      #e5e5e5;

    --colour-alpha--dark:      #7bdbe3;
    --colour-alpha:            #148791;
    --colour-alpha--light:     #335b5e;

    --colour-bravo--dark:      #5e3c50;
    --colour-bravo:            #de4ba0;
    --colour-bravo--light:     #e392c1;

    --colour-charlie--dark:    #ab9718;
    --colour-charlie:          #dec51f;
    --colour-charlie--light:   #e3d264;

    --colour-delta--dark:      #ab9718;
    --colour-delta:            #dec51f;
    --colour-delta--light:     #e3d264;

    --colour-echo--dark:       #ab9718;
    --colour-echo:             #dec51f;
    --colour-echo--light:      #e3d264;
}
