/* ==========================================================================
   Variables
   ========================================================================== */

:root {
	--grid-padding-lg:      60px;
	--grid-padding:         30px;
	--grid-padding-sm:      15px;

   --grid-width-xs:        480px;
   --grid-width-sm:        660px;
   --grid-width-md:        1200px;
   --grid-width-lg:        1560px;
   --grid-width-xl:        1872px;
	
   --border-radius:        15px;

   --mobile-nav-width:     82.4vw;

   --transition-easing:    cubic-bezier(0.4, 0, 0.2, 1);
   --transition-duration:  0.2s;
}
