/* ==========================================================================
   Hero
   ========================================================================== */

.c-hero {
    position: relative;
    background-color: var(--colour-grey--light);
}

.c-hero__wrap {
    display: flex;

    @media ($mq-xs-max) {
        height: calc(100vh - 137px); /* height of the navbar */
    }

    @media ($mq-sm-min) and ($mq-lg-max) {
        height: 300px;
    }

    @media ($mq-xl-min) and ($mq-xl-max) {
        height: 400px;
    }

    @media ($mq-xxl-min) {
        height: 450px;
    }
}

/*
   Image
   ========================================================================== */

.c-hero__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    img {
        @include object-fit-image;
    }
}

/*
   Content
   ========================================================================== */

.c-hero__content {
    margin: auto 0 0;
}

/*
   Title
   ========================================================================== */

.c-hero__title {
    color: var(--colour-black);
}

.c-hero__subtitle {
    color: var(--colour-black);
}
