/* ==========================================================================
   Mobile nav toggle button
   ========================================================================== */

.c-nav-toggle {
    position: absolute;
    top: 14px;
    right: 0;
    color: var(--colour-grey);
    font-size: to-rem(12);
    line-height: 1;
    text-transform: lowercase;

    @media ($mq-md-min) {
        display: none;
    }
}

.c-nav-toggle__button {
    display: block;
    position: relative;
    width: 40px;
    height: 36px;
    margin: 0 auto 2px;
    border: 0;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;

    &:hover {
        .c-nav-toggle__burger {
            background-color: var(--colour-bravo);

            &::before,
            &::after {
                background-color: var(--colour-bravo);
            }
        }
    }
}

.c-nav-toggle__burger {
    position: absolute;
    top: 17px;
    width: 30px;
    height: 2px;
    margin-left: -15px;
    transition: background-color var(--transition-duration) var(--transition-easing);
    background-color: var(--colour-black);

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all var(--transition-duration) var(--transition-easing);
        background-color: var(--colour-black);
    }

    &::before {
        transform: translateY(-8px);
    }

    &::after {
        transform: translateY(8px);
    }
}

/* Open */

.js-nav-open {

    .c-nav-toggle__burger {
        background-color: transparent !important;

        &::before {
            transform: rotate(45deg);
            background-color: var(--colour-bravo);
        }

        &::after {
            transform: rotate(-45deg);
            background-color: var(--colour-bravo);
        }
    }
}
