/* ==========================================================================
   Buttons
   ========================================================================== */

.c-button {
    display: inline-block;
    font-weight: $font-bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: $colour-white;
    background: $colour-alpha;
    border-radius: $border-radius;
    transition: all $transition-duration $transition-easing;
    @mixin font-smoothing;
    @media ($mq-xxs-max) {
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    @media ($mq-md-max) {
        padding: 10px 20px;
    }
    @media ($mq-lg-min) and ($mq-lg-max) {
        padding: calc($base-line-height / 2) 15px;
    }
    @media ($mq-xl-min) {
        padding: calc($base-line-height / 1.8) $grid-padding;
    }
    &:hover {
        cursor: pointer;
        color: $colour-white;
        background: $colour-alpha-light;
    }
    & + .c-button {
        margin-left: 6px;
    }
}
