/* ==========================================================================
   Mobile menu
   ========================================================================== */

.c-nav-mobile {
    position: fixed;
    top: 0;
    right: -$mobile-nav-width;

    width: $mobile-nav-width;
    height: 100%;
    z-index: 200;
    background: $colour-white;
    overflow: auto;
    transition: all $transition-duration $transition-easing;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;

    &.c-nav-mobile--nav-open {
        right: 0;
        visibility: visible;
        opacity: 1;
    }
}

/*
   List
   ========================================================================== */

.c-nav-mobile__list {
    list-style: none;
    margin: $base-line-height $grid-padding;
    padding-left: 0;
    text-align: left;
}
.c-nav-mobile__list-item {
    display: block;
    border-bottom: 1px solid $colour-grey-mid-light;
    &:last-of-type {
        border-bottom: 0;
    }
}
.c-nav-mobile__list-link {
    display: block;
    text-align: center;
    padding: round($base-line-height / 2) $grid-padding;
    color: $colour-alpha;
    font-size: 15px;
    transition: all $transition-duration $transition-easing;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $colour-white;
        text-decoration: none;
        background-color: $colour-alpha;
    }
}
