/* ==========================================================================
   Blocks
   ========================================================================== */

.cb-block {
    margin: 0 0 var(--spacing-md);

    &.o-background {
        + .o-background {
            margin-top: calc(#{var(--spacing-md)} * -1);
        }
    }
}

.cb-block__wrap {
    @include mobile-gutter;
    margin: 0 auto;
    max-width: var(--wrapper-lg);
}
